
/* =================================
   Color Property
   Color name ka use
   ================================= */

.one {
    color: red;
}


/* =================================
   HEX Color
   Hexadecimal value ka use
   ================================= */

.two {
    color: #0f99df;
}


/* =================================
   RGB Color
   Red, Green aur Blue values
   ================================= */

.three {
    color: rgb(222, 210, 225);
}


/* =================================
   RGBA Color
   RGB + Alpha (Transparency)
   ================================= */

.four {
    color: rgba(222, 180, 110, 0.555);
}


/* =================================
   HSL Color
   Hue + Saturation + Lightness
   ================================= */

.five {
    color: hsl(360, 90%, 50%);
}


/* =================================
   HSLA Color
   HSL + Alpha (Transparency)
   ================================= */

.six {
    color: hsla(160, 51%, 51%, 0.5);
}

